@{
    Page.Title = "Index";
    Layout = "~/View/Shared/_Layout.cshtml";

}

<!--<div class=" row">
    <div class="col-12">
        <div class="form-group">
            <label for="comment">Camp para contato:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
            <a href="~/View/Contato/CadContato.cshtml" type="submit" class="btn btn-primary">Enviar</a>

        </div>
    </div>
</div> -->

<section class="contact">
    <div class="container">
        <div class="row">
            <div class="contact-caption clearfix">
                <div class="contact-heading text-center">
                    <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font></h2>
                </div>
                
                <div class="col-md-6 col-md-offset-1 contact-form">
                    <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Deixe-nos uma mensagem</font></font></h3>
                    <form action="#" method="post" class="form">
                        <input class="name" type="text" placeholder="Nome:">
                        <input class="email" type="email" placeholder="Email:">
                        <input class="phone" type="text" placeholder="Telefone:">
                        <textarea class="message" name="message" id="message" cols="50" rows="10" placeholder="Message"></textarea>
                        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><input class="submit-btn" type="submit" value="ENVIAR"></font></font>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>