@{
    Page.Title = "Index";
    Layout = "~/View/Shared/_Layout.cshtml";



}








<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="~/Img/vehicle1.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Golf</h5>
                <p class="card-text">
                    Iluminação da placa traseira em LED /
                    Grade do radiador preta com aplique cromado /
                    Iluminação ambiente (iluminação dos pés, portas e retrovisores externos) com ajuste de intensidade /
                    Lanterna de neblina com iluminação em LED /
                    Lanterna traseira com iluminação em LED 3D /
                    Luz de condução diurna em LED /
                    Luzes de leitura dianteiras e traseiras em LED /
                    <h6>R$160,00 24/h </h6>
                </p>
                <a href="~/View/Locacao/CadLocacao.cshtml" class="btn btn-primary">Reservar</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="~/Img/vehicle3.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Corolla</h5>
                <p class="card-text">
                    A grade frontal cromada se combina harmoniosamente aos faróis dianteiros de
                    LED5 com luzes diurnas (DRL), que conferem forte identidade ao modelo.
                    Linhas laterais contínuas conectam a parte dianteira às lanternas traseiras de
                    LED de forma fluida, conferindo dinamismo.
                    <h6>R$ 150,00 24/h</h6>
                </p>
                <a href="~/View/Locacao/CadLocacao.cshtml" class="btn btn-primary">Reservar</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="~/Img/vehicle2.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Audi A1</h5>
                <p class="card-text">
                    Uma revolução no segmento de compactos premium. Um automóvel pensado para o século XXI, reunindo sofisticação e sustentabilidade.
                    Performance aliada a excelentes níveis de consumo e de emissão de poluentes, design ousado e itens de tecnologia ideais para quem vive conectado traduzem o Audi A1 Sportback.
                    <h6>R$ 280,00 24/h</h6>
                </p>
                <a href="~/View/Locacao/CadLocacao.cshtml" class="btn btn-primary">Reservar</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="~/Img/vehicle5.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Audi A1</h5>
                <p class="card-text">
                    Uma revolução no segmento de compactos premium. Um automóvel pensado para o século XXI, reunindo sofisticação e sustentabilidade.
                    Performance aliada a excelentes níveis de consumo e de emissão de poluentes, design ousado e itens de tecnologia ideais para quem vive conectado traduzem o Audi A1 Sportback.
                    <h6>R$ 280,00 24/h</h6>
                </p>
                <a href="~/View/Locacao/CadLocacao.cshtml" class="btn btn-primary">Reservar</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="~/Img/vehicle4.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">BMW</h5>
                <p class="card-text">
                    O exterior esportivo e elegante traz design harmonioso,
                    transmitindo de imediato a dinâmica do veículo. As entradas de ar frontais com
                    barras horizontais combinam com o design dos faróis, enfatizando a presença de
                    largas dimensões. Os faróis duplos, agora com exclusiva tecnologia de máscara negra
                    e anéis de corona integrados possuem tecnologia LED.
                    <h6>
                        R$ 350,00 24/h
                    </h6>
                </p>
                <a href="~/View/Locacao/CadLocacao.cshtml" class="btn btn-primary">Reservar</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="~/Img/vehicle6.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Audi A1</h5>
                <p class="card-text">
                    Uma revolução no segmento de compactos premium. Um automóvel pensado para o século XXI, reunindo sofisticação e sustentabilidade.
                    Performance aliada a excelentes níveis de consumo e de emissão de poluentes, design ousado e itens de tecnologia ideais para quem vive conectado traduzem o Audi A1 Sportback.
                    <h6>R$ 280,00 24/h</h6>
                </p>
                <a href="~/View/Locacao/CadLocacao.cshtml" class="btn btn-primary">Reservar</a>
            </div>
        </div>
    </div>
</div>




<!-- JavaScript Libraries -->
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/venobox/venobox.min.js"></script>
<script src="lib/knob/jquery.knob.js"></script>
<script src="lib/wow/wow.min.js"></script>
<script src="lib/parallax/parallax.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/nivo-slider/js/jquery.nivo.slider.js" type="text/javascript"></script>
<script src="lib/appear/jquery.appear.js"></script>
<script src="lib/isotope/isotope.pkgd.min.js"></script>
<!-- Contact Form JavaScript File -->
<script src="contactform/contactform.js"></script>
<script src="js/main.js"></script>