<div class="top-header">
  
</div>


<div class="row">
    <div class="col-12">
        <center><img src="~/Img/topo1.png" style="width:100%" /></center>
    </div>


    <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="~/View/Home/Index.cshtml">Início </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/View/Locacao/CadLocacao.cshtml">Reservar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/View/Informacoes/InfoGeral.cshtml">Informações</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/View/Contato/CadContato.cshtml">Contato</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
