<!DOCTYPE html>
<html>
<head>
    
    <title>@Page.Title</title>
    <link href="~/Css/bootstrap.css" rel="stylesheet" />
    <script src="~/Js/bootstrap.js"></script>





</head>

<body>
 

    
    <div class="container">
        @RenderPage("Menu.cshtml")
    </div>
    <div class="container" style="min-height:400px">
        @RenderBody()
    </div>
    <div class="container">
        @RenderPage("Rodape.cshtml")
    </div>










</body>



</html>
