
    <div class="modal-footer">
        <div class="container">
            <div class="row">
                <div class="navbar-dark">

                </div>
                <div class="col-footer col-md-3 col-xs-6">
                    <h3>Navegar</h3>
                    <ul class="no-list-style footer-navigate-section">
                        <li><a href="~/View/Home/Index.cshtml">Início</a></li>
                        <li><a href="~/View/Locacao/CadLocacao.cshtml">Reservar</a></li>
                        <li><a href="~/View/Informacoes/InfoGeral.cshtml">Informações</a></li>
                        <li><a href="~/View/Contato/CadContato.cshtml">Contato</a></li>
                        <li><a href="~/View/Adm/loginAdmin.cshtml">Administração</a></li>


                    </ul>
                </div>

                <div class="col-footer col-md-4 col-xs-6">
                    <h3>Contato</h3>
                    <p class="contact-us-details">
                        <b>Endereço:</b> CAMPUS II-AVENIDA MAMORÉ37<br />
                        <b>Telefone:</b> +55 69 99266-5114<br />
                        <b>WhatsApp</b> +55 69 99266-5114<br />
                        <b>Email:</b> <a href="mailto:pmonteirofernandes@gmail.com">pmonteirofernandes@gmail.com</a>
                    </p>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-copyright">&copy; 2018 LocaWeb. Todos os direitos reservados.</div>
                </div>
            </div>



        </div>
    </div >







