@{
    Page.Title = "Index";
    Layout = "~/View/Shared/_Layout.cshtml";

}

<div class=" row">
    <div class="col-12">
        <p>
            Para que estamos aqui?
            Queremos tornar o seu aluguel simples e pessoal, como se você estivesse dirigindo o seu próprio carro.

            Aqui na Rentalcars.com, sabemos a liberdade que um carro de aluguel pode trazer e estamos determinados em lhe ajudar a escolher o seu carro ideal por um preço imbatível. A nossa missão é muito mais do que isso, estamos aqui para tornar o seu aluguel rápido e descomplicado.

            Sabemos que o serviço que você recebe é importante
            Nós utilizamos opiniões e avaliações dos nossos clientes, junto com a nossa própria experiência para lhe guiar através das melhores opções.

            Trabalhamos com locadoras no mundo inteiro
            Para ter acesso a maior frota de carros, temos parceria com locadoras nos quatro cantos do mundo.

            Com você durante todo o caminho
            A nossa equipe de apoio ao cliente está aqui para ajudar durante a sua viagem, em qualquer lugar a qualquer momento.
        </p>
    </div>
</div>